<%- include("partials/header") %>


<form action = "/register" method = "POST">

    <div class = "container">
        <h1 style = "text-align: center;">Sign Up</h1>

        <br>
        
        <div class="input-group ">
            <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>

        <br>

        <div class="input-group ">
            <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
        </div>

        <br>

        <div class="d-grid gap-2">
            <button class="btn btn-primary">Submit</button>
          </div>
    </div>

</form>

<%- include("partials/footer") %>