<%- include("partials/header") %>

<h1>Sign Up</h1>

<form action = "/register" method = "POST">
    <label>
        Username: <input type="text" name="username">
    </label>
    <br>
    <label>
        Password: <input type="password" name="password">
    </label>
    <br>
    <input type="submit">
</form>

<%- include("partials/footer") %>