<%- include("../partials/header") %>


<div class="container">
    <h1 style="text-align: center;">Add a New Campground</h1>
    <div class="row campgroundForm">
        <form action="/campgrounds" method="POST">
            <input class="form-control campgroundInput" type="text" name="name" placeholder="name">
            <input class="form-control campgroundInput" type="text" name="img" placeholder="img url">
            <input type="file" id="img" name="img-file" accept="image/*">
            <script>
                var val = 4;
                $(document).ready(function () {
                    $(".image-upload").on("click", function () {
                        if (!$(this).hasClass("active")) {
                            $(".urlBar").toggleClass("active");
                            $(".fileBar").toggleClass("active");
                        }
                    });
                    // $(".urlBar").on("click", function(){
                    //     $(".nav-tabs").append(<li>urlBar</li>)
                    // });
                    // $(".fileBar").on("click", function(){
                    //     $(".nav-tabs").append(<li>fileBar</li>)
                    // });
                    //$("ul").append(<li role="presentation">fileBar</li>);
                });
            </script>
            <ul class="nav nav-tabs">

                <li role="presentation" class="active image-upload urlBar">
                    <a>URL</a>
                </li>
                <li role="presentation" class="image-upload fileBar">
                    <a>File</a>
                </li>



            </ul>
            <% if(val == 4){ %>
                <input class="form-control campgroundInput" type="text" name="name" placeholder="name">
            <% }else if(val == 5){ %>
                <input class="form-control campgroundInput" type="text" name="img" placeholder="img url">
            <% } %>
            <div class="form-group">
                <textarea class="form-control campgroundInput" name="desc"
                    placeholder="Description">Description</textarea>
            </div>

            <button style="width: 100%; text-align: center;" class="btn btn-info campgroundInput">SUBMIT</button>
        </form>
    </div>


</div>

<%- include("../partials/footer") %>